<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Jungle</h1>
    <h2>Hello, here is your receipt for order <%= @order.id %></h2>
    <hr>
    <p>
      Sample order details.
    </p>
  </body>
</html>